@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* min-height: 100vh; */
  background: #171717;
}

.team-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 10rem;
}

.team-container-3 {
  top: 5rem;
}

.topic-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 5px;
  width: 100%;
  top: 25px;
  font-size: 33px;
  margin: 0px 0px 23px;
}



.topic-container h2 {
  justify-content: center;
  color: #fff;
  font-size: 60px;
  text-align: center;
}
.team-name {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: -1rem;
  width: 100%;
  margin: 30px 0px;
  font-size: 43px;
}

.team-name-2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  top: 12rem;
  font-size: 43px;
}

.team-name-3 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  top: -1rem;
  font-size: 43px;
}


.container .card .imgBx img {
  width: 300px;
  height: 400px;
  border-radius: 15px;
  object-fit: cover;
}
.team-name p {
  color: #fff;
}

.team-name-2 p {
  color: #fff;
}
.team-name-3 p {
  color: #fff;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 7rem 0 0;
}

.team3{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 7rem 0;
}

.team2 {
  margin: 15rem 0 0;
}
.container .card {
  position: relative;
  width: 300px;
  height: 400px;
  margin: 20px;
  overflow: hidden;
  /* box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3); */
  border-radius: 15px;
  display: flex;
  border: none;
  justify-content: center;
  align-items: center;
}
.container .card .content {
  position: absolute;
  /* bottom: -160px; */
  bottom: -1px;
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  flex-direction: column;
  /* backdrop-filter: blur(15px); */
  box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(0, 0, 0, 0.6);
  border-radius: 15px;
  transition: bottom 0.5s;
  transition-delay: 0.65s;
}
/* .container .card:hover .content {
  bottom: 0;
  transition-delay: 0s;
} */
.container .card .content .contentBx h3 {
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  margin: 20px 0 15px;
  line-height: 1.1em;
  /* transition: 0.5s;
  transition-delay: 0.6s;
  opacity: 0;
  transform: translateY(-20px); */
}
/* .container .card:hover .content .contentBx h3 {
  opacity: 1;
  transform: translateY(0);
} */
.container .card .content .contentBx h3 span {
  font-size: 12px;
  font-weight: 300;
  text-transform: initial;
}
.container .card .content .sci {
  position: relative;
  bottom: 10px;
  display: flex;
}
.container .card .content .sci li {
  list-style: none;
  margin: 0 10px;
  transform: translateY(40px);
  transition: 0.5s;
  opacity: 0;
  transition-delay: calc(0.2s * var(--i));
}

/* .container .card:hover .content .sci li {
  transform: translateY(0);
  opacity: 1;
} */
.container .card .content .sci li a {
  color: white;
  font-size: 24px;
}

@media only screen and (max-width: 759px) {
  .team-container {
    top: 17rem;
  }
} 



@media only screen and (max-width: 454px) {
  .topic-container h2{
    line-height: 58px;
  }
}